<launch>
  <!-- <arg name="model" /> -->
  <arg name="gui" default="true" />
  <arg name="rvizconfig" default="$(find urdf_tutorial)/rviz/urdf.rviz" />

  <!-- <param name="robot_description" command="$(find xacro)/xacro.py $(arg model)" /> -->
  <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find dynamic_end_effector)/urdf/dynamic-ef.urdf.xacro'" />
  <param name="use_gui" value="$(arg gui)"/>
  
  <!-- launches actual hardware interface, does not allow enabling torque -->
	<include file="$(find def_actuation)/launch/dynamixel_hardware_control.launch" >
    <arg name="no_torque" value="true" />
  </include>

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />
</launch>