<launch>

    <!-- Load the URDF into the ROS Parameter Server -->
    <param name="robot_description" command="$(find xacro)/xacro '$(find dynamic_end_effector)/urdf/dynamic-ef.urdf.xacro' --inorder" />

    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find def_actuation)/config/def_controllers.yaml" command="load"/>
    <!-- spawn the def_controller from the def_controllers.yaml file -->
    <!-- <node pkg="controller_manager" type="spawner" name="def_controller_spawner" respawn="false" output="screen" ns="/dyn_ef_robot" args="def_controller"/> -->
    <!-- spawn the controllers for all single joints from the def_controllers.yaml file -->
    <!-- <node pkg="controller_manager" type="spawner" name="join_controller_spawner" respawn="false" output="screen" ns="/dyn_ef_robot" args="joint1_controller
                                                                                                                                            joint2_controller
                                                                                                                                            joint3_controller
                                                                                                                                            joint4_controller
                                                                                                                                            joint5_controller
                                                                                                                                            joint6_controller"/> -->

    <!-- starting the robot hardware. reading the motor values and writing comands to the motors -->
    <node pkg="def_actuation" type="dynamixel_hardware_interface" name="dynamixel_hardware_interface" output="screen" />

    <!-- convert joint states to TF transforms for rviz, etc -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen" />

</launch>