<launch>

    <!-- Load the URDF into the ROS Parameter Server -->
    <param name="robot_description" command="$(find xacro)/xacro '$(find dynamic_end_effector)/urdf/dynamic-ef.urdf.xacro' --inorder" />

    <!-- Load joint controller configurations from YAML file to parameter server -->
    <rosparam file="$(find def_actuation)/config/def_controllers.yaml" command="load"/>

    <!-- Load motor configurations from YAML file to parameter server -->
    <rosparam file="$(find def_actuation)/config/dxl_motor_configuration.yaml" command="load"/>

    <!-- starting the robot hardware. reading the motor values and writing comands to the motors -->
    <node pkg="def_actuation" type="dynamixel_hardware_interface" name="dynamixel_hardware_interface" output="screen" />

    <!-- starting the controllers -->
    <node pkg="def_actuation" type="dynamixel_controller_loader" name="dynamixel_controller_loader" output="screen" />

    <!-- convert joint states to TF transforms for rviz, etc -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="false" output="screen">
        <remap from="/joint_states" to="/dyn_ef_robot/joint_states"/>
    </node>

</launch>
